<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} <h1>{{first|add:second}}</h1>
    <p>{{value}}</p>
    <h2> {{value|add:"40"}} </h2> {% endcomment %}
{% comment %}     
    <h2>{{name|capfirst}}</h2>
    <h2>{{name|lower}}</h2>
    <h2>{{name|upper}}</h2>
    <h2>{{name|title}}</h2> {% endcomment %}

    {% comment %} {{name|center:'15'}} {% endcomment %}
    <h1>{{name|rjust:"40"}}</h1>
    <h1>{{name|cut:" "}}</h1>


</body>
</html>